.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 77px;
    padding: 0 47px;
    box-sizing: border-box;
}
.navigation_col input{
    width: 215px;
    padding: 7px 0;
    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    position: relative;
}
.fa-search{
    position: absolute;
    color: #babbbe;
    font-size: 12px;
    padding-left: 14px;
    padding-top: 0;
    top: 40px;
    z-index: 2;
}
.navigation_link{
    color: black;
    text-decoration: none;
    margin-left: 30px;
    font-size: 2rem;
}